* {
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  margin: 0 auto;
  max-width: 1440px;
}

header {
  position: relative;
  height: 667px;
  background-image: url("assets/background-dish.jpg");
  background-size: cover;
  background-position-y: 75%;
  padding: 51px 69px;
  
  justify-items: center;
}

.logo { 
  width: 207px;
  position: absolute;
  left: 0;
  margin-left: 69px;
}

h1 {
  font-family : "Anton", serif;
  font-weight: 400;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  color: #FFD15B;
  margin-top: 194px;
  width: 700px;
  
}

.search-container {
  display: flex;
  justify-content: space-between;
  max-width: 954px;
  width: min(954px, 80vw);
  background-color: white;
  padding: 10px;
  border-radius: 11px;;
}

.search-container:hover,
.search-container input:hover {
  cursor: pointer;
}

#search-lens rect {
  fill: #1B1B1B;
  transition: fill 500ms;
}

#search-lens:hover rect {
  fill: #FFD15B;
}

#search-lens circle,
#search-lens line {
  stroke: white;
  transition: stroke 500ms;
}

#search-lens:hover circle,
#search-lens:hover line {
  stroke: black;
}

#search-field {
  border: none;
  margin-left: 25px;
  width: 100%;
  font-family: "Manrope", serif;
  font-size: 16px;
  color: #7a7a7a;
}

header p {
  font-family: "Manrope", serif;
  font-size: 16px;
  font-weight: 700;
  color : red;
  margin-left:15%;
  justify-self: left;
}

main {
  margin: 21px auto;
}

/* middle page band */


.kw-search-band {
  display: flex;
  gap: 0 5vw;
  position: relative;
  margin: 0 7vw;
}

.nb-recettes {
  font-family: "Anton", serif;
  font-weight: 400;
  font-size: 21px;
  margin-left: auto;
}

/* drop-down selection list */

.kw-search-band ul {
  list-style: none;
  font-family: "Manrope", serif;
  padding: 0;
}


.select {
  display: flex;
  flex-direction: column;


}

.select li{
  background-color: white;
  border-radius: 11px;
}
/*head permanent list item */
.select>li:first-child {
  padding: 17px 16px;
  font-size: 16px;
  font-weight: 500;
  width: max(14vw, 140px);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.select img {
  width: 13px;
}

.select>li:nth-child(2) ~ li {
  margin-top: 26px;

  padding: 17px 16px;
  font-size: 14px;
  min-width: 195px;
  display: flex;
  justify-content: space-between;
  background-color: #ffd15b;
}


/*drop-down part of the list, that is ul inside li*/
.list-close {
  display: none;
}

.list-open {
  display: block;
}

.list-open ul {
  position: absolute;
  z-index: 10;
  background-color: white;
  padding-top: 10px;
  margin-top: -10px;
  width: 195px
}



.list-open .kwclosed {
  display: none;
}

ul ul li{
  padding-left: 16px;
  margin-bottom: 13px;
  font-size: 14px;
}

.list-open .search {
  display: flex;
  max-width: 163px;
  border: 1px solid #c6c6c6;
  margin : 0 auto;
}

li .search input {
  border: none;
  width: 100%;
  padding: 0;
  
}

.list-open li {
  cursor: pointer;
  border-radius: 0;
  margin: 0;
  padding: 9px 16px;
}

.list-open li:hover {
  background-color: #FFD15B;
}

.kw-search-band svg {
  height: 25px
}

.recipes-display {
  display: flex;
  flex-wrap: wrap;
  gap: 66px 5%;
  margin: 40px 7vw;
}

.recipes-display article {
  position: relative;
  z-index: 1;
  min-width: 250px;

  background-color: white;
  border-radius: 21px;
  overflow: hidden;
  flex: 1 0 30%;
}

.recipes-display article img {
  width: 100%;
  height: 253px;
  object-fit: cover;
}

.recipes-display .recipe-time {
  background-color: #ffd15b;
  padding: 5px 15px;
  display: inline;
  border-radius: 14px;
  position: absolute;
  right: 5%;
  top: 5px;
}

.recipes-display article div {
  padding: 10px 25px;
}

.recipes-display h2 {
  font-family: "Anton", serif;
  font-weight: 400;
  font-size: 18px;
}

.recipes-display h3 {
  font-family: "Manrope", serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7A7A7A;
  letter-spacing: 1px;
  margin-top: 30px;
}

.recipes-display p {
  font-family: "Manrope", serif;
  font-size: 14px;
  font-weight: 400;
}

.recipes-display ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 51px;
}

.recipes-display ul li {
  flex: 1 0 50%;
  margin-bottom: 20px;
}

.recipes-display ul li p {
  margin: 0;
  font-family: "Manrope", serif;
  font-size: 14px;
}

.recipes-display ul li p:first-of-type {
  
  font-weight: 500;
}

.recipes-display ul li p:last-of-type {

  font-weight: 400;
  color: #7A7A7A;
}

@media (max-width: 850px) {
  h1 {
    width: 80vw;
    font-size: 34px;
    margin-top: 20vw;
  }

  header {
    height: 567px;
  }

  .kw-search-band {
    margin: 0 5vw;
    flex-wrap: wrap;
  }

  .recipes-display {
    margin: 30px 5vw;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;

  }
  .search-container {
    width: 100vw;
  }
  header {
    height: 50vh;
  }
}